.container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

 }
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 900px;
    border: 1px solid;
    border-radius: 10px;

}
button{
    height: 30px;
    border-radius: 5px;
    background-color: antiquewhite;
}
input{
    height: 2rem;
    width: 10rem;
    margin: 20px;
    text-align: center;
    
    border-radius: 10px;
    border: none;
}
